@import "tailwindcss";

@theme {
  --color-dreamco-blue: #1273B9;
  --color-dreamco-dark: #0f172a;
  --color-dreamco-bg: #f8fafc;
}

body {
  background-color: var(--color-dreamco-bg);
  color: var(--color-dreamco-dark);
}